<ion-view view-title="" cache-view="false">
    
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear nav-menu menu-btn" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    <ion-nav-title>
        <div class="center-el">
      <span class="home-logo white" ></span>
        </div>
    </ion-nav-title>
    
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear search-btn" ng-click="goToVenueList()">
      </button>
        <button class="button button-icon button-clear cart-menu menu-btn"  menu-toggle="right">
        </button>
    </ion-nav-buttons>
  <ion-content scroll="false" id="home">
      
      <div id="home-map" class="map">
    </ng-map>
      </div>
      <div class="left-bar"></div>
      <div class="right-bar"></div>
  </ion-content>
</ion-view>
