<ion-view view-title="Playlist">
  <ion-content>
      
      <div class="yellow-search yellow-bg row">
          <div class="search-marker">
          <span class="ic-marker-blue ic"></span>
          </div>
          <div class="search-input col">
         <label class="item item-input">
            <i class="icon text-yellow ion-search placeholder-icon"></i>
            <input type="text" placeholder="Venue Name">
        </label>
          </div>
      </div>
    <h1>Playlist</h1>
  </ion-content>
</ion-view>
