$gray1: #414141;
$gray2:#585858;
$gray3:#6d6d6d;
$gray4:#808080;
$gray5:#959595;
$gray6:#a9a9a9;
$blue:#26A9E0;
$yellow:#FFC609;
$green:#37B34A;

$blue-tap:#1987B3;
$blue-disabled:#72C0E0;

$green-tap:#2D8C3C;
$green-disabled:#84C38F;

$dark:#414141;
$dark-tap:#000000;
$dark-disabled:#808080;

$primary-text-color:#fff;
@font-face{
    font-family:'gt-walsheim-web';
    src:url('../../fonts/GT-Walsheim-Regular.woff') format('woff'), url('../../fonts/GT-Walsheim-Regular.ttf') format('truetype');
    font-weight:normal;
}
@font-face {
  font-family: 'gt-walsheim-bold';
  src: url('../../fonts/GT-Walsheim-Bold.eot?') format('eot'), url('../../fonts/GT-Walsheim-Bold.woff') format('woff'), url('../../fonts/GT-Walsheim-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'GT Walsheim';
  src: url('../../fonts/GT-Walsheim-Light.eot?') format('eot'), url('../../fonts/GT-Walsheim-Light.woff') format('woff'), url('../../fonts/GT-Walsheim-Light.ttf') format('truetype');
  font-weight: light;
}
body {
  font-family: 'gt-walsheim-web', sans-serif;
    color: $primary-text-color;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    margin: 0 !important;
  font-family: 'gt-walsheim-web', sans-serif;
} 
h1,.h1{
    font-size: 30px !important;
}
h2,.h2{
    font-size: 20px !important;
}
h3,.h3{
    font-size: 18px !important;
}
h4,.h4{
    font-size: 16px !important;
}
h5,.h5{
    font-size: 14px !important;
}
h6,.h6{
    font-size: 12px !important;
}
.btn{
    border: 0 !important;
    border-radius: 5px !important;
}
.btn-blue{
    background-color: $blue;
}
.btn-blue.activated{
    background-color: $blue-tap;
}
.btn-blue:disabled{
    background-color: $blue-disabled;
}
.btn-green{
    background-color: $green;
}
.btn-green.activated{
    background-color: $green-tap;
}
.btn-green:disabled{
    background-color: $green-disabled;
}
.btn-dark{
    background-color: $dark;
}
.btn-dark.activated{
    background-color: $dark-tap;
}
.btn-dark:disabled{
    background-color: $dark-disabled;
}
.btn-gray{
    background-color: $gray6;
}
.btn-gray.activated{
    background-color: $gray5;
}
.btn-gray:disabled{
    background-color: #eee;
}

.text{
    color: $gray1;
}
.text:focus{
    color: $green;
}
.text:-webkit-input-placeholder{
    color: #d1d1d1;
}
.text-primary{
    color: $primary-text-color;
}
.text-dark{
    color: #000;
}
.text-yellow{
    color: $yellow !important;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.b{
    font-family: 'gt-walsheim-bold';
}
.bb{
    font-weight: bolder;
}
.menu-btn{
    color:#efefef  !important;
}
.search-btn{
    background: url(../../img/icons/ic_search_yellow.png) !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    width: 35px;
    height: 35px;
    background-size:auto 72% !important;
    background-repeat: no-repeat !important;
}
.search-btn-white{
    background: url(../../img/icons/ic_search_white.png) !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    width: 35px;
    height: 35px;
    background-size:auto 72% !important;
    background-repeat: no-repeat !important;
}
.cart-menu{
    background: url(../../img/icons/ic_cart_white.png) !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    width: 35px;
    height: 35px;    
    background-size:auto 72% !important;
    background-repeat: no-repeat !important;
}
.nav-menu{
    background: url(../../img/icons/ic_nav_white.png) !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    width: 35px;
    height: 35px;    
    background-size:auto 72% !important;
    background-repeat: no-repeat !important;
}
.popup{
    color:#000;
}
ion-spinner.spinner-ios {
    top: 50%;
    position: absolute;
    z-index: 99;
    left: 50%;
    margin-left: -20px;
    fill: #fff !important;
    stroke: #FFFFFF !important;
}
.menu-open{
    .cart-menu{
        background: url(../../img/icons/ic_cart_yellow.png) !important;
        background-repeat: no-repeat !important;
        background-position: left center !important;
        background-size:auto 72% !important;
    }
    .nav-menu{
        background: url(../../img/icons/ic_nav_yellow.png) !important;
        background-repeat: no-repeat !important;
        background-position: left center !important;
        background-size:auto 72% !important;
    }
}
.green-bg{
    background-color: $green;
}
.blue-bg{
    background-color: $blue;
}
.yellow-bg{
    background-color: $yellow;
}
.dark-bg{
    background-color: $gray1;
}
.gray-bg{
    background-color: #ddd;
}
.gray6-bg{
    background-color: $gray6;
}
.bar-header {
    border: 0;
}
.op-bg{
    background-image: url(../../img/icons/opaque-shade.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center;
}
.ic-person {
    background-image: url(../../img/icons/ic_person.png)
}
.ic-heart {
    background-image: url(../../img/icons/ic_heart.png)
}
.ic-star {
    background-image: url(../../img/icons/ic_star.png)
}
.ic-check {
    background-image: url(../../img/icons/ic_check.png)
}
.ic-dollor {
    background-image: url(../../img/icons/ic_dollor.png)
}
.ic-setting {
    background-image: url(../../img/icons/ic_setting.png)
}
.ic-people {
    background-image: url(../../img/icons/ic_people.png)
}
.ic-recommend {
    background-image: url(../../img/icons/ic_recommend.png)
}
.ic-warning {
    background-image: url(../../img/icons/ic_warning.png)
}
.ic-logout {
    background-image: url(../../img/icons/ic_logout.png)
}
.ic-marker-blue{
    background-image: url(../../img/icons/ic_marker_blue.png)
}
.ic{
    background-repeat: no-repeat;
    background-position: center center;
}
.right-bar {
    width: 12px;
    background: #fff;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.left-bar {
    width: 12px;
    background: #fff;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#login{
    .logo-img {
        text-align: center;
        padding: 30px 0px;
        img{
            width: 50%;
        }
    }
    .item{
        border: 0;
    }
    
}
.menu{
    background-color: $blue;
    i {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        position: relative;
        margin-left: 10px;
        top: 5px;
        margin-right: 10px;
        background-size: 100%;
    }
    .menu-title {
        padding: 25px 0 20px 70px;
        background-image: url(../../img/icons/logo.png);
        background-repeat: no-repeat;
        background-position: 15px center;
        display: block;
        text-decoration: none;
        background-size: auto 45%;
        position: relative;
    }
    .item{
        background-color: $gray1;
        border: 0;
        padding: 0;
        *{
            background-color: rgba(0,0,0,0);
        }
        a{
            padding: 12px 0;
            color: $primary-text-color;
        }
        &:nth-child(2n+1){
            background-color: $gray2;
        }
    } 
}
.map{
    width: 100%;
    ng-map{
        height: 100% !important;
        width: 100% !important;
    }
}
#home-map{
    height: 100%;
}
ion-header-bar .title {
    position: absolute !important;
    width: 100%;
    left: 0 !important;
    margin: 0 !important;
    .home-logo.white{
        background:url(../../img/icons/logo.png);
    }
    .home-logo.yellow{
        background:url(../../img/icons/logo_yellow.png);
    }
    .home-logo.old{
        background:url(../../img/icons/ic_check.png);
    }
    .home-logo.dollor{
        background:url(../../img/icons/ic_dollor.png);
    }
    
    .home-logo {
        /* height: 33px; */
        margin-top: 8px;
        display: block;
        float: left;
        width:30px;
        height: 30px;    
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        
    }
    span.nav-bar-title {
        font-size: 1.5em;
        /* line-height: 2em; */
        /* padding: 0.2em; */
        display: inline-block;
    }
    .screen-title{
        display: block;
        float: left;
        margin-left: 5px;
        padding-top: .07em;
    }
}

.yellow-search{
    padding: 15px;
    .search-marker {
        width: 45px;
        height: 45px;
        margin-right: 10px;
        margin-top: 5px;
        background-color: #fff;
        span{
            height: 100%;
            width: 100%;
            display: block;
        }
    }
    i{
        font-size: 24px;
    }
}
#home{
}
#venuelist{
    background-color: #eee;
    .venuelist {
        width: 96vw;
        margin: 0 2vw;
        min-height: 100%;
        ion-scroll{
            height: 80vh;
        }
    }
    .list{
        margin: 10px 0;
        ion-item.item {
            margin: 0;
            padding: 0;
            margin-top: 10px;
            .rest-name {
                padding: 13px 10px;
                font-weight: bold;
                border-left: 2px solid $yellow;
                background-image: url(../../img/icons/opaque-shade.png);
                background-repeat: no-repeat;
                background-size: auto 100%;
                background-position: 110% center;
            }
            .address {
                padding: 8px 10px;
                font-weight: bold;
            }
            .item-content{
                padding: 0;
            }
        }
    }
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}


#venue-selected{
    #venue-map{
        height:50vh;
    }
    .bottom-div{
        height: 46vh;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        *{
            color: #fff;
        }
        .venue-name{
            height: 15%;
             padding: 12px;
        }
        .venue-address{
            height: 20%;
            padding: 17px 10px;
        }
        a.button {
            display: block;
            border-radius: 0;
            height: 32%;
            position: relative;
            padding: 4vh;
            /* bottom: -24px; */
        }
    }
}   

.list{
   .item.item-accordion {
        line-height: 38px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09s all linear;
    }
    .item.item-accordion.ng-hide {
        line-height: 0px;
    } 
    item.item-accordion.ng-hide-add,.item.item-accordion.ng-hide-remove {
        display: block !important;
    }
} 
#tab-menu{
     ion-scroll {
        height: 90%;
        background-color: #ddd;
    }
    ion-scroll.social {
        height: auto;
        background-color: #FFC609;
    }
    .social-icons {
        padding: 7px 0;
        /* width: 100%; */
        margin-top: -4px;
        text-align: center;
        a {
            padding: 4px 0 0;
            margin: 3px 5vw 0px;
            width: 10vw;
            display: inline-block;
            img {
                width: 100%;
            }
        }
    }
    .accordian-header{
        background-color: #ddd;
        .item-stable{
            background-color: $dark;
            color: $primary-text-color;
            border: 0;
        }
        &:nth-child(2n+1){
            .item-stable{
                background-color: $blue;
                color: $primary-text-color;
            }
        }
        .item-accordion {
            margin: 15px 10px;
            padding: 0;
            .item-name-price {
                padding: 4px 10px;
                border-left: 3px solid $yellow;
                span.item-name {
                    width: 78%;
                    display: inline-flex;
                    overflow: auto;
                    margin: 0;
                }
                span.item-price {
                    float: right;
                    color: #fff;
                }
            }
            .item-desc {
                padding: 0 10px;
                background-color: #fff;
                ion-scroll{
                    background-color: #fff;
                }
            }
            a.item-content {
                padding: 0 ;
            }
        }
    }
}

#history {
    ion-item.item {
        padding: 0;
        margin: 10px;
        .item-name {
            padding: 12px 10px;
            border-left: 3px solid $yellow;
            font-weight: bold;
            span{
                float: right;
            }
        }
        .datetime{
            padding: 10px;
        }
    }
}
.cart-menu-title {
    padding: 4px 17px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
#cart-menu{
    .label {
        height: 35px;
        padding: 7px 10px;
        i {
            padding: 0;
            margin: 0;
            width: auto;
            height: auto;
            top: 0;
        }
         span {
            width: 30%;
            display: block;
            float: right;
        }
    }
    .total i {
        margin: 0 10px;
    }
    .tab-items{
         .tab-item {
            max-width: none;
            margin: 10px;
            text-align: left;
            padding: 12px;
            border-left: 3px solid $blue;
            border-radius: 0 5px 5px 0;
            font-size: 16px;
            span {
                float: right;
            }
        }
    }
    a.pay-btn {
        display: block;
        text-align: center;
        padding: 20px;
        bottom: 0;
        position: absolute;
        width: 100%;
        img{
            position: relative;
            top: 4px;
            width: 30px;
        }
    }
    .tip-buttons {
        padding: 5px;
        a.tip-btn {
            display: inline-block;
            padding: 10px 0;
            text-align: center;
            border-radius: 5px;
            width: 19%;
            margin: 5px 2.4%;
            font-size: 17px;
        }
        a.tip-btn.active {
            background: #333;
        }
    }
}
#oldtab{
    .label {
        padding: 15px;
    }
    .tab-items{
         .tab-item {
            max-width: none;
            margin: 10px;
            text-align: left;
            padding: 12px;
            border-left: 3px solid $blue;
            border-radius: 0 5px 5px 0;
            font-size: 16px;
            span {
                float: right;
            }
        }
    }
}
#menuitem{
    .label {
        padding: 15px;
    }
    .item-desc {
        padding: 5px 15px;
        p{
            margin: 0;
        }
    }
}
.login-btns {
    width: 90%;
    margin: 0 auto;
}
.card-form {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    .inner-div {
        margin: 140px auto auto;
        width: 80%;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        h3 {
            padding: 5px 10px;
            text-align: center;
        }
        input[type="number"] {
            width: 100%;
            height: 40px;
            border: 1px solid #ccc;
            padding: 10px;
        }
        .two-inp{
            input{
                width:50%;
                float: left;
                border-top: 0;
                border-bottom: 0;
            }
        }
        a.btn {
            text-align: center;
            margin-top: 10px;
            padding: 10px;
        }
        a.close{
                border: 1px solid #ccc !important;
        }
    }
}

.register{
    .input-label {
        width: 44%;
    }
}
.platform-android .bar .title {
    text-align: center !important;
}